Checks: '
  -*,
  readability-*,
  performance-*,
  bugprone-*,
  cppcoreguidelines-*,
  llvm-include-order,

  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-convert-member-functions-to-static,
  -readability-uppercase-literal-suffix,
  
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-signed-char-misuse,

  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  '
WarningsAsErrors: ''
HeaderFilterRegex: '(src|include)\/.*\.h$'
FormatStyle: 'file'
CheckOptions:
  # Require argument names to match exactly (instead of allowing a name to be a prefix/suffix of another)
  # Note: 'true' is expected by clang-tidy 12+ but '1' is used for compatibility with older versions
  - key: readability-inconsistent-declaration-parameter-name.Strict
    value: 1
